<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriTrack</title>
<link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>NutriTrack</h1>
        <nav>
            <ul>
                <li><a class="selector" href="{{ url_for('index') }}">Home</a></li>
                <li><a class="selector" href="{{ url_for('dashboard') }}">Dashboard</a></li>

            </ul>
        </nav>
    </header>


    <section class = "welcome">
        <h2>Welcome to your Nutrition Tracker!</h2>
        <a href ="{{ url_for('dashboard') }}">
            <img src="{{ url_for('static', filename='picture/scale.png') }}" alt="Go to Dashboard" class="dashboard-image-button">
        </a>
        <p> Step on the Scale! </p>
    </section>

    <footer>
        <p>Nutrition Tracker App - 2025</p>
    </footer>
</body>
</html>
