<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriTrack - Nutrition</title>
    <link rel="stylesheet" href = "../static/styles.css">
</head>
<body>
    <header>
        <h1>Nutrition Tracker</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="goals.html">My Goals</a></li>
        </ul>
        </nav>
    </header>

    <section class="nutrition">
        <h2>Your Nutrition Overview</h2>
        <div class="nutrition-info">
            <p>Here, you can view your daily nutrient intake, set nutrition targets, and track your progerss!</p>
            <div class="nutrition-tips">
                <h3>Nutrition Tips:</h3>
                <ul>
                    <li>Eat a variety of fruits and vegetables.</li>
                    <li>Include lean proteins in your diet.</li>
                    <li>Stay hydrated by drinking water throughout the day.</li>
                </ul>
            </div>
        </div>
    </section>

    <footer>
        <p>Nutrition Tracker App - 2025 </p>
    </footer>
</body>
</html>